.top_margin{
    margin-top: 10vh;
}

.freelancer-content-body {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.freelancer-top-content {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 20vh;
    justify-content: space-between;
}

.freelancer-top-content-top {
    display: inline-block;
    justify-content: space-between;
}
.freelancer-top-content-explanation{
    position: relative;
    top: 50%;
    left: 4%;
}
.color-text{
    color: #077912;
    font-size: 20px;
    font-weight: bold;
}
.content-margin {
    margin: 5rem 0; /* 왼쪽과 오른쪽의 마진을 0으로 설정 */
    margin-top: 5rem;
}
.seeresume {
    width: 13vw;
    height: 7vh;
    background-color: #077912;
    border: none;
    border-radius: 0.4rem;
    color: white;
    margin: 0 1rem;
    position: relative;
    right: -25%;
}
.freelancer-top-content-bottom{
    border-bottom: 1px solid #077912; /* 상단 테두리 스타일 */
}
.freelancer-top-content-bottom button{
    border-color: black;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    background-color: white;
    margin: 2rem 2rem 2rem 2rem;
}
.freelancer-top-content-bottom img{
    width: 30px;
    height: 25px;
}
.freelancer-bottom-content-resume {
    width: 70vw;
    height: 30vh;
    margin-top: 5rem;
    border-bottom: 1px solid #077912; /* 상단 테두리 스타일 */
  }

li{
    list-style: none;
}
  